<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ref="tagcanvasbox" class="tagcanvasbox">
        <canvas ref="tagcanvas" width='844' height='475' @mousedown="mouseDown($event)" @mouseup="mouseUp($event)" @mousemove="mouseMove($event)" @contextmenu.prevent="contextMenu($event)" @mouseout="mouseOut($event)"></canvas>
    </div>
</body>
<style>
.tagcanvasbox {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid red;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
</style>

<script>//  400  800       150    300
  //关键: 小图:大图 = 遮罩 :大图显示区
  
</script>

</html>

